{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    Add Exercises to Trening
    {% endblock %}
    {% block container %}
        <h1>Add Exercises to Trening</h1>
              {% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
     {% endfor %}
 {% endif %}

        <form action="" method="post">


        {% csrf_token %}

            <table class="table">
                <tbody class="text-color-lighter">
                <tr class="d-flex">
                    <td class="col-12 text-center " ><h3>{{ form.exercise_name|as_crispy_field }}</h3></td>
                </tr>
                </tbody>
                <tbody class="text-color-lighter">
                <tr class="d-flex">
                        <td class="col-1 text-center">{{ form.order|as_crispy_field }}</td>
                        <td class="col-2 text-center">{{ form.training|as_crispy_field }}</td>
                        <td class="col-2 text-center">{{ form.number_of_sets|as_crispy_field }}</td>
                        <td class="col-1 text-center">{{ form.reps|as_crispy_field }}</td>
                        <td class="col-2 text-center">{{ form.reps_unit|as_crispy_field  }}</td>
                        <td class="col-2 text-center">{{ form.pace_of_exercise|as_crispy_field }}</td>
                        <td class="col-2 text-center">{{ form.rest_between_sets|as_crispy_field }}</td>
                    </tr>
                </tbody>
    </table>

{#        {{ form.order|as_crispy_field }}#}
{#            {{ form.exercise_name|as_crispy_field }}#}
{#            {{ form.training|as_crispy_field }}#}

        <button type="submit" class="btn btn-primary">Add</button>

        </form>


{% endblock %}