{% extends 'base.html' %}
{% load embed_video_tags %}
{% load crispy_forms_tags %}


{% block title %}
    Exercise Detail Update
    {% endblock %}
    {% block container %}
        <h1>Exercise Detail Update</h1>

                    <form method="post">{% csrf_token %}
        {{ form|crispy }}
                        <input type="hidden" name="next" value="{{ id }}">
                    <input type="submit" value="Update" class="btn btn-primary rounded-0 text-light m-1">
                    </form>

{% endblock %}