{% extends 'base.html' %}
{% load embed_video_tags %}
{% load crispy_forms_tags %}


{% block title %}
    Exercise Detail
    {% endblock %}
    {% block container %}
        <h1>Exercise Detail</h1>
        {% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
     {% endfor %}
 {% endif %}
        <table class="table borderless">

                    <tbody>
                    <tr class="d-flex">
                        <th scope="row" class="col-2">Name of Exercise</th>
                        <td class="col-7">
                            {{ object.name }}
                        </td>
                        <td class="col-1"><a href="{% url 'training:exercise-edit' object.id %}"
                               class="btn btn-success rounded-0 text-light m-1">Edit</a></td>
                    </tr>
                    <tr class="d-flex">
                        <th scope="row" class="col-2">Description</th>
                        <td class="col-8">{{ object.description }}
                        </td>

                    </tr>
                    <tr class="d-flex">
                        <th scope="row" class="col-2">Video</th>
                        <td class="col-8">{% video object.video 'tiny' %}
                        </td>
                    </tbody>
                </table>

{% endblock %}

