{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
    Training Plan
{% endblock %}
{% block container %}
    <h1 class="text-center">Training Plan: {{ current_plan.training_plan_nb.training_plan_name }}</h1>
    <form method="post">{% csrf_token %}
    {{ formset }}
    {% for formset in inlines %}
    {{ formset }}
  {% endfor %}
    </form>
{#    {% regroup object_list by training_plan_name as plan_day %}#}
{#    {% for name in plan_day %}#}
{#    #}
{#    {% endfor %}#}
    {% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
     {% endfor %}
 {% endif %}
    {% if object %}
                    <form method="post">{% csrf_token %}
        {{ form|crispy }}
                    <input type="submit" value="Update" class="btn btn-primary rounded-0 text-light m-1">
                    </form>
    {% endif %}
        <table class="table">
            {% regroup object_list by training as days %}
            {% for training in days %}
                <thead>
                <tr class="d-flex">
                    <th class="col-3">Training Name: {{ training.grouper }}</th>
                    <th class="col-1 text-center">Sets</th>
                    <th class="col-1 text-center">Reps</th>
                    <th class="col-2 text-center">Pace</th>
                    <th class="col-2 text-center">Rest Between Sets</th>
                </tr>
                </thead>
                <tbody class="text-color-lighter">

                {% for order in training.list %}


                    <tr class="d-flex">
                        <td class="col-3">{{ order.exercise_name.name }}</td>
                        <td class="col-1 text-center">{{ order.number_of_sets }}</td>
                        <td class="col-1 text-center">{{ order.reps }}</td>
                        <td class="col-2 text-center">{{ order.pace_of_exercise }}</td>
                        <td class="col-2 text-center">{{ order.rest_between_sets }} s</td>
                        <td class="col-1 center">
                            <a href="{% url 'training:exercise-detail' order.exercise_name.id %}"
                               class="btn btn-primary rounded-0 text-light m-1">Details</a>
                        </td>
                        <td class="col-1 center">
                            <a href="{% url 'training:training_plan-delete' order.id %}"
                               class="btn btn-danger rounded-0 text-light m-1">Delete</a>
                        </td>
                        <td class="col-1 center">
                            <a href="{% url 'training:training_plan-edit' order.id %}"
                               class="btn btn-success rounded-0 text-light m-1">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>

        </table>
{% endblock %}