{% extends 'base.html' %}
{% load embed_video_tags %}
{% load crispy_forms_tags %}
{% load custom_time_tags  %}
{% block title %}
    Workout List
{% endblock %}
{% block container %}
        <h1>Workout List</h1>
    {{ week_nb }}
    {% if messages %}

     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
     {% endfor %}
 {% endif %}
    {% if object %}
    <form method="post">{% csrf_token %}
    <table class="table">
    <thead>
                <tr class="d-flex">
                    <th class="col-6 text-center" ><h2>{{ form.date|as_crispy_field }}</h2></th>
                    <th class="col-6 text-center" ><h2>{{ form.day|as_crispy_field }}</h2></th>

                </tr>
                </thead>
                <tbody class="text-color-lighter">
                <tr class="d-flex">
                        <td class="col-4 text-center">{{ form.exercise|as_crispy_field }}</td>
                        <td class="col-2 text-center">{{ form.sets|as_crispy_field }}</td>
                        <td class="col-2 text-center">{{ form.reps|as_crispy_field  }}</td>
                        <td class="col-2 text-center">{{ form.weight|as_crispy_field }}</td>
                        <td class="col-2 text-center">{% if form.total_weight %}{{ form.total_weight|as_crispy_field }}{% endif %}</td>
                    <div class="d-none">
                        <div class="d-none">
                        <input type="hidden" value="{{ form.reps_unit|as_crispy_field }}">
                        <div class="d-none">
                        <input type="hidden" value="{{ form.weight_unit|as_crispy_field }}">
                            <div class="d-none">
                        <input type="hidden" value="{{ form.day|as_crispy_field }}"></div></div></div></div>
                    </tr>
                </tbody>
    </table>
    <input type="hidden" name="next" value="{{ id }}">
    <input type="submit" value="Update" class="btn btn-primary rounded-0 text-light m-1">
    </form>
    {% endif %}
    {% if workoutset_list != null %}
            <table class="table">
    <thead>
            <tr class="d-flex">
                <th class="col-6">

                    <a class="nav-link text-start col-4" href="{% url 'training:workout-list' previous_week|date:'Y' previous_week|date:'W' %}">Previous Week</a>

                </th>
                <th class="col-6 text-end">
                    <a class="nav-link col-3 text-end" href="{% url 'training:workout-list' next_week|date:'Y' next_week|date:'W' %}">Next Week</a></th>
            </tr>
            </thead>
    </table>
         <table class="table">
            {% regroup workoutset_list by date as days %}
            {% for date in days %}
                <thead>
                <tr class="d-flex">
                    <th class="col-11 text-center" ><h2>{{ date.grouper }}
                        {% regroup date.list by day as dayd %}
                        {% for day in dayd %}{{ day.grouper }}{% endfor %}

                    </h2></th>
                </tr>
                </thead>
                <thead>
                <tr class="d-flex">
                    <th class="col-3">Exercise name</th>
                    <th class="col-1 text-center">Sets</th>
                    <th class="col-2 text-center">Reps</th>
                    <th class="col-2 text-center">Weight</th>
                    <th class="col-2 text-center">Total Weight</th>
                </tr>
                </thead>
                <tbody class="text-color-lighter">
                {% for exercise in date.list %}

                    <tr class="d-flex">
                        <td class="col-3">{{ exercise.exercise.name }}</td>
                        <td class="col-1 text-center">{{ exercise.sets }}</td>
                        <td class="col-2 text-center">{{ exercise.reps }} {{ exercise.reps_unit }}</td>
                        <td class="col-2 text-center">{% if exercise.weight %}{{ exercise.weight }}{% endif %}{{ exercise.weight_unit }}</td>
                        <td class="col-2 text-center">{% if exercise.total_weight %}{{ exercise.total_weight }}{{ exercise.weight_unit }}{% endif %}</td>
                    <td class="col-1 center">
                            <a href="{% url 'training:workout_ex-delete' week|date:'Y' week|date:'W' exercise.id %}"
                               class="btn btn-danger rounded-0 text-light m-1">Delete</a>
                        </td>
                        <td class="col-1 center">
                            <a href="{% url 'training:workout-edit' week|date:'Y' week|date:'W' exercise.id %}"
                               class="btn btn-success rounded-0 text-light m-1">Edit</a>
                        </td>
                    </tr>

                {% endfor %}
                {% empty %}
                    <h3 class="text-center">There is no workout yet</h3>
                <p class="text-center">Add new one: <a class="text-center" href="{% url 'training:workout' %}">Add Workout</a></p>
            {% endfor %}
            </tbody>

        </table>

{% endif %}
{% endblock %}