{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Workout
    {% endblock %}
    {% block container %}
        <h1>Workout Log</h1>
      {% if messages %}

     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
     {% endfor %}
 {% endif %}

        <form action="" method="post">


        {% csrf_token %}

        {{ form|crispy }}
            <input type="hidden" id="Trainingplanform" training-url="{% url 'training:ajax_load_training' %}">
            <input type="hidden" id="Trainingform" training1-url="{% url 'training:ajax_load_training1' %}">

        <button type="submit" class="btn btn-primary">Add</button>

        </form>
{% endblock %}
{% block aside %}
        <div id="test">

        </div>
{% endblock %}
