{% extends 'base.html' %}
{% load embed_video_tags %}
{% load crispy_forms_tags %}
{% block title %}
    Workout List
{% endblock %}
{% block container %}
        <h1>Workout List</h1>

          {% if messages %}

     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
     {% endfor %}
 {% endif %}
    {% if object %}
    <form method="post">{% csrf_token %}
    {{ form|crispy }}
    <table class="table">
    <thead>
                <tr class="d-flex">
                    <th class="col-11 text-center" ><h2>{{ object.day }}</h2></th>
                </tr>
                </thead>
                <thead>
                <tr class="d-flex">
                    <th class="col-3">Exercise name</th>
                    <th class="col-2 text-center">Sets</th>
                    <th class="col-2 text-center">Reps</th>
                    <th class="col-2 text-center">Weight</th>
                    <th class="col-2 text-center">Total Weight</th>
                </tr>
                </thead>
                <tbody class="text-color-lighter">

                    <tr class="d-flex">
                        <td class="col-3">{{ object.exercise.name }}</td>
                        <td class="col-2 text-center">{{ object.sets }}</td>
                        <td class="col-2 text-center">{{ object.reps }} {{ object.reps_unit }}</td>
                        <td class="col-2 text-center">{{ object.weight }}{{ object.weight_unit }}</td>
                        <td class="col-2 text-center">{% if object.total_weight %}{{ object.total_weight }}{{ object.weight_unit }}{% endif %}</td>
                        <td class="col-4 center"><input type="submit" value="Update"></td>
{#                        <td class="col-4 center">#}
{#                            <a href="{% url 'training:workout-edit' exercise.id %}"#}
{#                               class="btn btn-info rounded-0 text-light m-1">Edit</a>#}
{#                        </td>#}
                    </tr>
                </tbody>
    </table>
    </form>
    {% endif %}
    <table class="table">
            {% regroup workoutset_list by day as days %}
            {% for day in days %}
                <thead>
                <tr class="d-flex">
                    <th class="col-11 text-center" ><h2>{{ day.grouper }}</h2></th>
                </tr>
                </thead>
                <thead>
                <tr class="d-flex">
                    <th class="col-3">Exercise name</th>
                    <th class="col-2 text-center">Sets</th>
                    <th class="col-2 text-center">Reps</th>
                    <th class="col-2 text-center">Weight</th>
                    <th class="col-2 text-center">Total Weight</th>
                </tr>
                </thead>
                <tbody class="text-color-lighter">
                {% for exercise in day.list %}

                    <tr class="d-flex">
                        <td class="col-3">{{ exercise.exercise.name }}</td>
                        <td class="col-2 text-center">{{ exercise.sets }}</td>
                        <td class="col-2 text-center">{{ exercise.reps }} {{ exercise.reps_unit }}</td>
                        <td class="col-2 text-center">{{ exercise.weight }}{{ exercise.weight_unit }}</td>
                        <td class="col-2 text-center">{% if exercise.total_weight %}{{ exercise.total_weight }}{{ exercise.weight_unit }}{% endif %}</td>
                        <td class="col-4 center">
                            <a href="{% url 'training:workout-edit' exercise.id %}"
                               class="btn btn-info rounded-0 text-light m-1">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>

        </table>

{% endblock %}