@import 'bootstrap.min.css';
@import "select2.min.css";

.logo {
    width: 2rem;
    height: 2rem;
}
.fade{
    transition:opacity .85s linear
}
.select2-results__options{
    max-height: 30rem !important;
}
.select2-container{
    width: 100% !important;
}